name: CI
env:
  DEBUG: napi:*
  APP_NAME: berry
  CARGO_INCREMENTAL: '0'
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_TERM_COLOR: always
permissions:
  contents: write
  id-token: write
'on':
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig
      - docs/**
  pull_request: null
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  test:
    uses: ./.github/workflows/test.yml
  # build:
  #   uses: ./.github/workflows/build.yml
  # test-bindings:
  #   needs:
  #     - build
  #   uses: ./.github/workflows/test-bindings.yml
  # publish:
  #   needs:
  #     - test-bindings
  #   uses: ./.github/workflows/publish.yml
