name: Test Bindings

env:
  DEBUG: napi:*
  APP_NAME: berry
  CARGO_INCREMENTAL: '0'
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_TERM_COLOR: always

on:
  workflow_call:

jobs:
  test-linux-x64-gnu-binding:
    name: Test bindings on Linux-x64-gnu - node@${{ matrix.node }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        # we are cheap, and don't care much right now about older nodess
        node:
          - '22'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: bindings-x86_64-unknown-linux-gnu
          path: .
      - name: List packages
        run: ls -R .
        shell: bash
      - name: Test bindings
        run: |
          yarn test
          echo "$?"
